<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
    
    <context:property-placeholder location="classpath:database.properties"/>
    <context:component-scan base-package="com.google.redskyf"/>
	<mybatis:scan base-package="com.google.redskyf"/>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${db.jdbc.driver}"></property>
        <property name="url" value="${db.jdbc.url}"></property>
        <property name="username" value="${db.jdbc.username}"></property>
        <property name="password" value="${db.jdbc.passwrord}"></property>
        <property name="maxActive" value="${db.conn.pool.maxActive}"></property>
        <property name="maxIdle" value="${db.conn.pool.maxIdle}"></property>
        <property name="maxWait" value="${db.conn.pool.maxWait}"></property>
        <property name="defaultAutoCommit" value="${db.conn.pool.defaultAutoCommit}"></property>
    </bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:com/google/redskyf/**/*Mapper.xml" />
		<property name="configuration">
			<bean class="org.apache.ibatis.session.Configuration">
				<property name="logPrefix" value="msa" />
			</bean>
		</property>
	</bean>



</beans>
